* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html, body {
    height:100%;
    width:100%;
}

#main {
    height: 100%;
    width:100%;
    background-color:lightblue;
    padding:20px;
}

.card {
    height:300px;
    width:250px;
    background-color: #fff;
    border-radius:10px;
    box-shadow:inset -8px 6px 16px 3px #121828;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.22);

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    padding:20px;
}

.card img {
    height:100px;
    width:100px;
    object-fit: cover;
    border-radius:50%;
} 

.card h2 {
    font-weight:500;
    font-size:26px;
}

button {
    border-radius:50px;
    padding:10px 20px;
    background-color:rgb(52, 204, 255);
    border:none;
    color:#fff;
    font-weight:600
}

.card p {
    text-align:Center;
}

.card button:hover {
    background-color:red ;
    margin:-1px;
}